@charset "utf-8";

body {
    width: 80%;
    margin: auto;

}

h1 {
    text-align: center;
}

img {
    width: 50%;
}

.divElem {
    display: none;
}

#gomb {
    margin: 0 auto;
    display: block;
    width: 20%;
}
.tehermentes{
    color: rgb(19, 141, 100);
    font-weight:500;
}

@media screen and (max-width: 800px) {
    .asztaliNezet {
        display: none;

    }

    .divElem {
        display: block;
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    .egyDoboz {

        background-color: white;
    }

    body {
        background-color: aquamarine;
    }

    .erdekel {
        margin: 5px;
        padding: 5px;
    }
}
